@font-face {
    font-family: "TheSerif";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/TheSerif_4_.eot") format("eot"), url("../fonts/TheSerif_4_.woff") format("woff");
}
@font-face {
    font-family: "TheSerif";
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/TheSerif_4i.eot") format("eot"), url("../fonts/TheSerif_4i.woff") format("woff");
}
@font-face {
    font-family: "TheSerif";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/TheSerif_7_.eot") format("eot"), url("../fonts/TheSerif_7_.woff") format("woff");
}
@font-face {
    font-family: "TheSerif";
    font-style: italic;
    font-weight: bold;
    src: url("../fonts/TheSerif_7i.eot") format("eot"), url("../fonts/TheSerif_7i.woff") format("woff");
}
h1, h2, h3, h4, h4, h5, h6{
	    font-family: "TheSerif",​serif;
}

h1, h1 a {
    color: #003056;
    font-family: "TheSerif",serif;
    font-size: 2.1rem;
    font-weight: bold;
    line-height: 120%;
    margin: 1,05rem 0;
    text-decoration: none;
}
h2, h2 a {
    color: #003056;
    font-family: "TheSerif",serif;
    font-size: 33.6px;
    font-weight: normal;
    line-height: 120%;
    margin: 16.8px 0;
    text-decoration: none;
}
h3, h3 a{
    color: #003056;
    font-family: "TheSerif",serif;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 120%;
    margin: 0.8rem 0;
    text-decoration: none;
}
h4, h4 a{
    color: #003056;
    font-family: "TheSerif",serif;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 120%;
    margin: 0.8rem 0;
    text-decoration: none;
}


html, body{
	background: #f0f4f6;
}
.hfeed.site {
    overflow: hidden;
}
.contain-to-grid, .top-bar, .top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button){
	background-color: #003056;
}
.top-menu.menu {
    position: absolute;
    right: 0.75rem !important;
}
.top-menu.menu li{
	list-style: none;
	display: inline;
    background: none repeat scroll 0 0 #4c6e88;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 15px;
}
.top-menu.menu li a{
	color:white;
}

@media only screen and (max-width: 40em) {
    .top-menu.menu {
        margin-left: 0;
        position: absolute;
        right: 0rem !important;
    }
    .site-title {
        text-align: center;
    }
    .headerlogo {
        margin: 3rem 0 0.2rem!important;
    }
    .site-description{
        margin-left: 1.5rem;
    }

}
@media only screen and (max-width: 58.75em) {
    .title-area{
        width: auto!important;
    }
}
.site-description{
    color: #003056;
    float: right;
    font-size: 1.2rem;
/*    margin-bottom: 5px;
    margin-top: 5px !important;*/
    margin-top: 3.5rem;
}
.headerlogo{
	margin: 1rem 0;
}
.top-bar .name a{
	height: 45px;
	width: 45px;
	display: block;
}
.top-bar .name span{
	display:none;
}
.title-area {
    height: 45px;
    width: 45px;
	display: block;
}
.title-area img {
    margin-left: 5px;
    margin-top: 8px;
    width: 30px;
}

.top-bar-section ul li > a {
    font-family: "TheSerif",​serif;
    font-weight: bold;
    font-size: 1.1rem;
}
.left.menu > li{
	position: relative;
}
/*.left.menu > li > a:after{
	position: absolute;
	left: 50%;
	bottom: 0;
	border: 6px solid #fff;
	content: " ";
	height: 0;
	padding: 0;
	margin: -12px 0 0 -6px;
	border-left-color: transparent;
	border-right-color: transparent;
	border-top-color: transparent;
}*/

.top-bar-section > ul > li:hover:not(.has-form) > a {
    background: none repeat scroll 0 0 #003056!important;
}
.top-bar-section .dropdown{
	padding-top: 5px!important;
	padding-bottom: 5px!important;
    border-radius: 2px;
    box-shadow: 0 3px 3px rgba(0, 48, 86, 0.2);
    background: white!important;
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button){
	background: white;
	color: #003056;
}
.top-bar-section ul.dropdown > li:hover:not(.has-form) > a{
	background: white!important;
	color: #b5152b!important;
	text-decoration: underline!important;
}

/* Menü enden */

/*Inhalt allgemein */
#content{
	margin-top: 1.5rem;
}

img.alignright {
  float: right;
  margin-left: 1.5rem;
}

blockquote {
  margin: 8px 0;
  background: #fff;
  border-bottom: 1px solid #ccd6dd;
  border-right: 1px solid #e5eaee;
  padding: 10px;
  font-family: 'TheSerif', serif;
  border: 0;
  margin: 0.5em 0 1em 0;
  font-style: italic;
  padding: 1em 1em 0.5em 4em;
  color: #003056;
  position: relative;
  font-size: 1.1em;
}
blockquote:before {
  content: "„";
  font-size: 8em;
  line-height: 0%;
  position: absolute;
  top: -0.1em;
  left: 0.1em;
  color: #99acbb;
  font-family: 'TheSerif', serif;
}
blockquote cite {
  display: block;
  margin: 0.7em 0 0.2em;
}
blockquote cite:before {
  content: "—";
}
.alignright {
    float: right;
}
figcaption {
    background: none repeat scroll 0 0 white;
    font-size: 0.6875rem;
    line-height: 1.5rem;
    padding: 0.3125rem;
}
figure img {
    border: 0.3125rem solid white;
}

/* Archiv */
.entry-title{
    font-size:33.6px;
    font-weight: 500;
    margin: 5px 0;
}
.readmore{
    color: #B5152B;
}
article{
    margin-bottom: 2rem;
}


.nav-previous.button > a, .nav-next.button > a {
    color: white;
}

.nav-next {
    float: right;
}

/*Startseite*/
.boxes-container{
    margin-top: 1.5rem;
}
.startbox h3{
    text-align: center;
    margin-top: 0.5rem;
}

/*Sidebar*/
.widget_nav_menu{
    background: white;
    padding: 10px 20px;
}
.widget_nav_menu .widget-title{
    font-family: "TheSerif";
    font-weight: bold;
    font-size: 17px;
    color: #B5152B;
}
.widget_nav_menu li{
    list-style: none;
    font-family: "TheSerif", serif;
    font-size: 1.1em;
}
.widget_nav_menu .menu {
    margin-left: 0;
}
.widget_nav_menu > div > ul > li:only-child > a{
    font-family: "TheSerif";
    font-weight: bold;
    font-size: 17px;
    color: #B5152B;
}
.widget_nav_menu div ul li ul{
    margin-left: 0;
}
.widget_nav_menu .current-menu-item > a{
  text-decoration: underline;
}

/* jCarousel */
.slidecontainer{
    padding: 10px;
    background: white;
    box-shadow: 0 0 5px 0 #ccc;
}
.jcarousel-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.jcarousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.jcarousel .slides_wrap {
    width: 20000em;
    position: relative;
    margin: 0;
    padding: 0;
}

.jcarousel .slide {
    float: left;
    width: auto;   
    position: relative;
    max-height: 410px;
}

.jcarousel .slide img {
  width: 100%;
  display: block;
}

.jcarousel .slide .caption {
    bottom: 3rem;
    left: 2rem;
    max-width: 860px;
    position: absolute;
    text-align: left;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    font-size: 2.4em;
    line-height: 16px;
    margin: 0;
    padding: 0.5rem 1.4rem;
}
.jcarousel .slide .caption h2{
    margin: 0;
}

.jcarousel-pagination {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}

.jcarousel-pagination span {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    opacity: .5;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}


.jcarousel-pagination span:last-child {
    margin-right: 0;
}

.jcarousel-pagination span.active {
    opacity: 1;

}
/* jCarousel ende */

/* jCarousel Stufenslider */
.jcarousel-posts {
    overflow: hidden;
}
.slidecontainer-posts{
    padding: 10px;
    background: white;
    box-shadow: 0 0 5px 0 #ccc;
}
.jcarousel-wrapper-posts {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.jcarousel-stufen-posts {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.jcarousel-stufen-posts .slides_wrap-posts {
    width: 20000em;
    position: relative;
    margin: 0;
    padding: 0;
}

.jcarousel-posts .slide-posts {
    float: left;
    width: auto;   
    position: relative;
    max-height: 410px;
}

.jcarousel-posts .slide-posts img {
/*  width: 100%;
  display: block;*/
}

/*.jcarousel-posts .slide-posts .caption {
    bottom: 3rem;
    left: 2rem;
    max-width: 860px;
    position: absolute;
    text-align: left;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    font-size: 2.4em;
    line-height: 16px;
    margin: 0;
    padding: 0.5rem 1.4rem;
}*/
.jcarousel-posts .slide-posts .caption h2{
    margin: 0;
}

.jcarousel-pagination-posts {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
}

.jcarousel-pagination-posts span {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    opacity: .5;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}


.jcarousel-pagination-posts span:last-child {
    margin-right: 0;
}

.jcarousel-pagination-posts span.active {
    opacity: 1;

}
.slide-posts:not(:last-child) {
    margin-right: 4rem !important;
}
/* jCarousel ende */


